// BASE SASS FILE - init global sass content

// Google Fonts Import : Poppins + League Spartan
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Default initialization
*{
  margin: 0;
  padding: 0;
  //color: var(--color-black);
  ul{list-style: none;}
  a{text-decoration: none; color: black;}
  button:hover{cursor: pointer;}
  button{background-color: transparent; border: none;}

  // border: 1px solid red;
}

// Variables definitions
:root{
  --color-black: #131313;
  --color-white: white;
  --color-darkgrey: #323232;

  --color-primary: #1e1e1e;
  --color-secondary: #383843;
  --color-red: #be3e2b;
  --color-blue: #576CA8;

  --font-title: 'League Spartan', sans-serif;
  --font-content: 'Poppins', sans-serif;
}

body {
  //background-color: var(--color-black);
  font-family: var(--font-content);
  //color: var(--color-white);

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    //background-color: var(--color-primary);
    .button{

    }
  }
}

