@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');



/*
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat',  sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root{
    //--color-body: rgb(21, 22, 26);

    --color-primary: #1c1a1c;
    --color-secondary: #252425;
    --color-tertiary: #383638;

    --color-text: white;
    --color-blue: rgb(79, 117, 175);
    --color-green: rgb(89, 208, 156);
    --color-red: rgb(255, 138, 138);

    --font-size1: 16px;
    --font-size2: 19px;
}

*{
    //font-family: 'Kanit', sans-serif;
    //font-family: 'Montserrat',  sans-serif;
    //font-family: 'Poppins', sans-serif;
    font-family: "Space Grotesk", sans-serif;

    margin: 0;
    padding: 0;
    a { text-decoration: none;}
    ul{ list-style: none;}
}
.button {
    border: 2px solid var(--color-text);
    background-color: transparent;
    color: var(--color-text);
    padding: 7px 15px;
    border-radius: 7px;
    margin: 0 10px;
    transition: .3s;
    &:hover{
        background-color: var(--color-text);
        color: var(--color-primary);
    }
}
header {
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    justify-content: space-between;
    padding: 15px;
    width: 600px;
    margin: 20px auto auto;
    border-radius: 15px;
    h1{
        font-size: 23px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            padding: 5px 15px;
            margin: 0 3px;
            border-radius: 5px;
            transition: .2s;
            cursor: pointer;
            font-size: var(--font-size1);
        }
        input[type="radio"] {
            display: none;
        }
        input[type="radio"]:checked + label {
            background-color: var(--color-tertiary);
        }
        span{
            color: grey;
            margin: 0 10px;
        }
    }
}
body{
    background-color: var(--color-primary);
    color: white;
    font-weight: 500;
    font-size: var(--font-size2);
    main{
        width: 50vw;
        margin: auto;
        border-radius: 4px;
        padding: 100px 15px 15px;
        h2{
            margin: 10px 0;
        }
        section.container{
            div#textcontent{
                width: 600px;
                margin: auto auto;
                p#quote{
                    font-size: 22px;
                }
            }
            .input-field{
                margin-top: 35px;
                color: #555;
                div#stats{
                    font-size: 21px;
                    width: 600px;
                    margin: 20px auto auto ;
                    p{
                        display: inline;
                    }
                    #remaining{
                        color: #777;
                    }
                    #statstime{
                        margin-left: 10px;
                    }
                }
                div#field{
                    margin-top: 5px;
                    width: 100%;
                    input#textinput{
                        font-size: 25px;
                        color: white;
                        display: flex;
                        align-items: center;
                        background-color: var(--color-secondary);
                        padding: 15px;
                        font-weight: 800;
                        width: 600px;
                        margin: auto auto;
                        border: 2px solid var(--color-secondary);
                        border-radius: 15px;
                    }
                    input#textinput:focus{
                        outline: none;
                        //border: 2px solid #333;
                    }
                }
            }
            div#finalResult{
                width: 600px;
                margin: 90px auto;

                div{
                    margin-top: 35px;
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    align-items: center;
                    p.wpm{
                        span#wpm{
                            border: 3px solid var(--color-blue);
                            padding: 15px;
                            font-size: 25px;
                            border-radius: 5px;
                        }
                    }
                    ul{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 5px;
                        p{
                            text-align: right;
                            span{
                                margin-right: 15px;
                            }
                        }
                        span#stat-correct{
                            color: var(--color-green);
                        }
                        span#statserror{
                            color: var(--color-red);
                        }
                        span#stat-duration{
                            color:var(--color-blue);
                        }
                    }
                }
            }
        }
    }
}
