@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
/*
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat',  sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root {
  --color-primary: #1c1a1c;
  --color-secondary: #252425;
  --color-tertiary: #383638;
  --color-text: white;
  --color-blue: rgb(79, 117, 175);
  --color-green: rgb(89, 208, 156);
  --color-red: rgb(255, 138, 138);
  --font-size1: 16px;
  --font-size2: 19px;
}

* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}

.button {
  border: 2px solid var(--color-text);
  background-color: transparent;
  color: var(--color-text);
  padding: 7px 15px;
  border-radius: 7px;
  margin: 0 10px;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--color-text);
  color: var(--color-primary);
}

header {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);
  justify-content: space-between;
  padding: 15px;
  width: 600px;
  margin: 20px auto auto;
  border-radius: 15px;
}
header h1 {
  font-size: 23px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav label {
  padding: 5px 15px;
  margin: 0 3px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  font-size: var(--font-size1);
}
header nav input[type=radio] {
  display: none;
}
header nav input[type=radio]:checked + label {
  background-color: var(--color-tertiary);
}
header nav span {
  color: grey;
  margin: 0 10px;
}

body {
  background-color: var(--color-primary);
  color: white;
  font-weight: 500;
  font-size: var(--font-size2);
}
body main {
  width: 50vw;
  margin: auto;
  border-radius: 4px;
  padding: 100px 15px 15px;
}
body main h2 {
  margin: 10px 0;
}
body main section.container div#textcontent {
  width: 600px;
  font-weight: 800;
  margin: auto auto;
}
body main section.container div#textcontent p#quote {
  font-size: 22px;
}
body main section.container div#stats {
  text-align: center;
  font-size: 25px;
  display: flex;
  margin-top: 20px;
}
body main section.container div#stats p {
  display: flex;
}
body main section.container div#field {
  margin-top: 15px;
  width: 100%;
}
body main section.container div#field input#textinput {
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);
  padding: 15px;
  width: 600px;
  font-weight: 800;
  margin: auto auto;
  border: 2px solid var(--color-secondary);
  border-radius: 15px;
}
body main section.container div#field input#textinput:focus {
  outline: none;
}
body main section.container div#finalResult {
  margin-top: 25px;
}
body main section.container div#finalResult div {
  margin-top: 35px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
body main section.container div#finalResult div p.wpm span#wpm {
  border: 3px solid var(--color-blue);
  padding: 15px;
  font-size: 25px;
  border-radius: 5px;
}
body main section.container div#finalResult div ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
body main section.container div#finalResult div ul p {
  text-align: right;
}
body main section.container div#finalResult div ul p span {
  margin-right: 15px;
}
body main section.container div#finalResult div ul span#stat-correct {
  color: var(--color-green);
}
body main section.container div#finalResult div ul span#statserror {
  color: var(--color-red);
}
body main section.container div#finalResult div ul span#stat-duration {
  color: var(--color-blue);
}

/*# sourceMappingURL=style.css.map */
